.negrita{
    text-decoration: solid;
    font-weight: bold;

}
button{
background: rgb(110, 107, 107);
border: 0;
margin:1px;
color: inherit;
color:white;
/* cursor: default; */
font: inherit;
line-height: normal;
}